<div class="container-fluid nav-collapse">
  <ul class="nav">
    <li><%= link_to "Cobrar", caja_cobrar_path  %></li>
    <li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li>
  </ul>
</div><!--/.nav-collapse -->
