<div class="container-fluid nav-collapse">
  <ul class="nav">
    <li><%= link_to "Socios", socios_path %></li>
    <li><%= link_to "Periodos", periodos_path  %></li>
    <li><%= link_to "Categorias", categorias_path  %></li>
    <li><%= link_to "Salir", destroy_user_session_path, method: :delete  %></li>
  </ul>
</div><!--/.nav-collapse -->
